<app-counter [count]="squareCounter()" *ngIf="!multiplayer"></app-counter>

<app-header-multiplayer *ngIf="multiplayer"
                        [user]="{uuid: gs.uuid(), points: squareCounter(), finish: isFinished(squarePrev) ? 1 : 0}"
                        [opponent]="opponent"
></app-header-multiplayer>

<ion-grid class="ion-padding">
  <ion-row *ngFor="let row of squaresRows" style="padding: 0" align-items-center>
    <ion-col *ngFor="let square of row" style="padding: 0">
      <app-square [data]="{ x: square.x, y: square.y, clicked: square.clicked }"
                  [dataPrev]="squarePrev"
                  (click)="squareClick(square)"></app-square>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row [hidden]="multiplayer">
  <ion-col>
    <ion-button color="primary" expand="block" (click)="gameReset()">Reset</ion-button>
  </ion-col>
</ion-row>

