
@keyframes float1 {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    // box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    // box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% { transform: translatey(-20px) }
  50% { transform: translatey(0px) }
  100% { transform: translatey(-20px) }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar1 {
  /*width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white none;
  border-radius: 50%;*/
  overflow: hidden;
  //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float1 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.avatar2 {
  overflow: hidden;
  transform: translatey(0px);
  animation: float2 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}