<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Home Page</ion-card-subtitle>
      <ion-card-title>Welcome to Magic Square</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col><div class="container"><div class="avatar1"><img src="/assets/bombe/bombetta_azzurra.png" /></div></div></ion-col>
        <ion-col><div class="container"><div class="avatar2"><img src="/assets/bombe/bombetta_rosa.png" /></div></div></ion-col>
        <ion-col><div class="container"><div class="avatar1"><img src="/assets/bombe/bombetta_gialla.png" /></div></div></ion-col>
        <ion-col><div class="container"><div class="avatar2"><img src="/assets/bombe/bombetta_nera.png" /></div></div></ion-col>
        <ion-col><div class="container"><div class="avatar1"><img src="/assets/bombe/bombetta_rossa.png" /></div></div></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="primary" (click)="navTo('singleplayer')">Single Player Classic</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="success" (click)="navTo('multiplayer')" [disabled]="!gs?.isOnline()">Multiplayer Classic (Online)</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" (click)="navTo('multiplayer')" [disabled]="!gs?.isOnline()">Multiplayer Battle (Online)</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="warning" (click)="navTo('tutorial')">Tutorial</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
